$highlight-color: #FFFF00;

.highlightable-term {
    &:hover {
        background-color: lightgray;
    }

    &--highlighted {
        background-color: $highlight-color;
    }
}

.computation-graph {
    path:hover {
        stroke: lightgray;
    }

    &__edge {
        stroke: black;

        &--highlighted {
            stroke: $highlight-color;
        }
    }
}
