$highlight-color: #01FF70;
$hover-color: lightgray;

.highlightable-term {
    &:hover {
        background-color: $hover-color;
    }

    &--highlighted {
        background-color: $highlight-color;
    }
}

.computation-graph {
    &__edge {
        stroke: black;

        &:hover {
            stroke: $hover-color;
        }

        &--highlighted {
            stroke: $highlight-color;
        }
    }
}
